<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    {{!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'> --}}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{!-- Navigation Bar --}}
    <nav class='navbar has-shadow is-fixed-top'>

        <div class='navbar-brand'>
            <!-- Logo, tagline and navbar-burger -->
            <a class='navbar-item' width="250" href="index">
                <img src='/assets/images/taskably.png' alt="taskably company logo">
            </a>
            <div class='navbar-burger burger'
                onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class='navbar-menu'>
            <!-- User name, dropdown menu -->
            <div class='navbar-start'>
                <div class='navbar-item'>
                    <div>
                        <!-- motto -->
                        <h3 class="is-italic">Your Way Of Doing Things</h3>
                    </div>
                </div>
            </div>

            <div class='navbar-end'>
                <div class='navbar-item has-dropdown is-hoverable'>
                    <div class='navbar-link'>
                        <!-- User name -->
                        {{!-- Username/Email needs to pull --}}
                        {{user}}

                    </div>
                    <div class='navbar-dropdown is-right'>
                        <a class="navbar-item" href="new-customer">
                            <div>
                                <span class='icon is-small'>
                                    <i class="fas fa-user-edit"></i>
                                </span>
                                Create New Customer
                            </div>
                        </a>
                        <a class="navbar-item" href="inventory">
                            <div>
                                <span class="icon is small">
                                    <i class='fa fa-book'></i>
                                </span>
                                Inventory
                            </div>
                        </a>
                        <a class="navbar-item" href="logout">
                            <div>
                                <span class="icon is-small">
                                    <i class="fa fa-sign-out"></i>
                                </span>
                                Sign Out
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    {{{ body }}}

    </div>

    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="js/newCustomer.js"></script>
</body>

</html>