<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <nav class="menu">
                <p class="menu-label">Menu</p>
                <ul class="menu-list">
                    <li>
                        <a class='is-active' href="dashboard">
                            <span class="icon">
                                <i class="fa fa-tachometer"></i>
                            </span>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="inventory">
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a href="customers">
                            <span class="icon">
                                <i class="fa fa-address-book"></i>
                            </span>
                            Customers
                        </a>
                    </li>
                    <li>
                        <a href="orders">
                            <span class="icon">
                                <i class="fa fa-file-text-o"></i>
                            </span>
                            Orders
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="column">
            <div class="level">
                <div class="level-left">
                    <h1 class="subtitle is-3">
                        <!-- Insert JS Time/Date -->
                        <strong><span id="spanDate"></span></strong>
                        <script type="text/javascript">

                            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                                'August', 'September', 'October', 'November', 'December'];

                            var tomorrow = new Date();

                            tomorrow.setTime(tomorrow.getTime());

                            document.getElementById("spanDate").innerHTML = months[tomorrow.getMonth()] + " " + tomorrow.getDate() + ", " + tomorrow.getFullYear();
                        </script>



                        <!-- Placeholder name -->
                        {{!-- <span class="has-text-grey-light">Hello </span> <strong>Alex Johnson</strong></h1> --}}
                </div>

                <div class="level-right">
                    <div class="select">
                        <select>
                            <option>Today</option>
                            <option>Yesterday</option>
                            <option>This Week</option>
                            <option selected>This Month</option>
                            <option>This Year</option>
                            <option>All Time</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-link has-text">
                        <p class="title is-1">230</p>
                        <p class="subtitle is-4">Total Orders</p>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-info has-text">
                        <p class="title is-1">29</p>
                        <p class="subtitle is-4">Open</p>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-primary has-text">
                        <p class="title is-1">1,590</p>
                        <p class="subtitle is-4">In Progress</p>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-success has-text">
                        <p class="title is-1">30,632</p>
                        <p class="subtitle is-4">Closed </p>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-4-fullhd">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="title is-4">Orders</h2>

                            <div class="level">
                                <div class="level-left">
                                    <div>
                                        <p class="title is-5 is-marginless">
                                            New Installs
                                        </p>
                                        <small>

                                        </small>
                                    </div>
                                </div>

                                <div class="level-right">
                                    <div class="has-text-right">
                                        <p class="tag is-success is-5 is-marginless is-large has-text-weight-bold">1435
                                        </p>

                                    </div>
                                </div>
                            </div>


                            <div class="level">
                                <div class="level-left">
                                    <div>
                                        <p class="title is-5 is-marginless">
                                            Service Calls
                                        </p>
                                        <small>

                                        </small>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="has-text-right">
                                        <p class="tag is-warning is-5 is-marginless is-large has-text-weight-bold">520</p>
                                    </div>
                                </div>
                            </div>

                            <div class="level">
                                <div class="level-left">
                                    <div>
                                        <p class="title is-5 is-marginless ">
                                            Trouble Calls
                                        </p>
                                        <small>

                                        </small>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="has-text-right">
                                        <p class="tag is-danger is-5 is-marginless is-large has-text-weight-bold">39</p>
                                    </div>
                                </div>
                            </div>

                            <a class="button is-link is-outlined" href="orders">View all orders</a>

                        </div>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-4-fullhd">
                    <div class="card">
                        <div class="card-content">
                            <h2 class=" title is-4">Inventory</h2>

                            <div class="media">
                                <div media-left is-marginless>
                                    <p class="number">1</p>
                                </div>
                                <div class="media-left">
                                    <img src='/assets/images/directv-logo.png' alt="Direct TV Logo" width="80">
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        <a href="edit-book.html">DirecTv</a>
                                    </p>
                                </div>
                                <div class="media-right">
                                    202 sold
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">2</p>
                                </div>
                                <div class="media-left">
                                    <img src='/assets/images/KFB-Logo.png' alt="Amazon Key for Business" width="80">
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        <a href="edit-book.html">KfB</a>
                                    </p>
                                </div>
                                <div class="media-right">
                                    24 sold
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">3</p>
                                </div>
                                <div class="media-left">
                                    <img src='/assets/images/orby-logo.png' alt="Orby TV Logo" width="80">
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        <a href="edit-book.html">Orby TV</a>
                                    </p>
                                </div>
                                <div class="media-right">
                                    4 sold
                                </div>
                            </div>


                            <a class="button is-link is-outlined" href="inventory">View all inventory</a>
                        </div>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-4-fullhd">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="title is-4">Technicians</h2>

                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">1</p>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        <a href="edit-customer.html">John Miller</a>
                                    </p>
                                    <p class="subtitle is-6">United States</p>
                                </div>
                                <div class="media-right">
                                    10 orders
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">2</p>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        <a href="edit-customer.html">Robin Dixon</a>
                                    </p>
                                    <p class="subtitle is-6">Canada</p>
                                </div>
                                <div class="media-right">
                                    8 orders
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">3</p>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        <a href="edit-customer.html">David Escalante</a>
                                    </p>
                                    <p class="subtitle is-6">Mexico</p>
                                </div>
                                <div class="media-right">
                                    7 orders
                                </div>
                            </div>

                            <a class="button is-link is-outlined" href="customers">View all customers</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>