<section class="section">
  <div class="columns">
    <div class="column is-4-tablet is-3-desktop is-2-widescreen">
      <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
          <li>
            <a href="index">
              <span class="icon">
                <i class="fa fa-tachometer"></i>
              </span>
              Dashboard
            </a>
          </li>
          <li>
            <a class='is-active' href="inventory">
              <span class="icon">
                <i class="fa fa-book"></i>
              </span>
              Inventory
            </a>
          </li>
          <li>
            <a href="customers">
              <span class="icon">
                <i class="fa fa-address-book"></i>
              </span>
              Customers
            </a>
          </li>
          <li>
            <a href="techs">
              <span class="icon">
                <i class="fas fa-hard-hat"></i>
              </span>
              Technicians
            </a>
          </li>
          <li>
            <a href="orders">
              <span class="icon">
                <i class="fas fa-clipboard-list"></i>
              </span>
                 Orders
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="column">
      <h1 class="title">Inventory</h1>

      <nav class="level">
        <div class="level-left">
          <div class='level-item'>
            <p class="subtitle is-5"><strong>5</strong> items</p>
          </div>

          <p class="level-item tag is-success">
            Available
          </p>

          {{!-- Disabled for future deployment --}}
          {{!-- <div class="level-item is hidden-tablet-only">
            <div class="field has-addons">
              <p class="control">
                <input class="input" type="text" placeholder="Product Name, Code...">
              </p>
              <p class="control">
                <button class="button">Search</button>
              </p>
            </div>
          </div>
        </div> --}}

          {{!-- Disabled for future deployment --}}
          {{!-- <div class="level-right">
          <div class="level-item">
            Order by
          </div>
          <div class="level-item">
            <div class="select">
              <select>
                <option>Publish Date</option>
                <option>Price</option>
                <option>Page count</option>
              </select>
            </div>
          </div>
        </div> --}}
      </nav>

      <div class="columns is-multiline">
        <div class="column is-12-tablet is-6-desktop is-4-widescreen">
          <article class='box'>
            <div class="media">
              <aside class="media-left">
                <img src='/assets/images/directv-logo.png' alt="Direct TV Logo" width="80">
              </aside>
              <div class="media-content">
                <p class="title is-5 is-spaced is-marginless">
                  DirectTv
                </p>
                {{!-- <p class="subtitle is-marginless">$0.00</p> --}}
                <div class="content is-small">
                  Product Code: DT
                  <br>
                  Product ID: 1
                  <br>
                  {{!-- <a href="user.html">Edit</a>
                    <span>.</span>
                    <a>Delete</a> --}}
                  <p></p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="column is-12-tablet is-6-desktop is-4-widescreen">
          <article class='box'>
            <div class="media">
              <aside class="media-left">
                <img src='/assets/images/KFB-Logo.png' alt="Amazon Key for Business" width="80">
              </aside>
              <div class="media-content">
                <p class="title is-5 is-spaced is-marginless">
                  KfB (Amazon)
                </p>
                {{!-- <p class="subtitle is-marginless">$0.00</p> --}}
                <div class="content is-small">
                  Product Code: KB
                  <br>
                  Product ID: 2
                  <br>
                  {{!-- <a href="user.html">Edit</a>
                    <span>.</span>
                    <a>Delete</a> --}}
                  <p></p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="column is-12-tablet is-6-desktop is-4-widescreen">
          <article class='box'>
            <div class="media">
              <aside class="media-left">
                <img src='/assets/images/orby-logo.png' alt="Orby TV Logo" width="80">
              </aside>
              <div class="media-content">
                <p class="title is-5 is-spaced is-marginless">
                  Orby TV
                </p>
                {{!-- <p class="subtitle is-marginless">$0.00</p> --}}
                <div class="content is-small">
                  Product Code: OT
                  <br>
                  Product ID: 3
                  <br>
                  {{!-- <a href="user.html">Edit</a>
                    <span>.</span>
                    <a>Delete</a> --}}
                  <p></p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="column is-12-tablet is-6-desktop is-4-widescreen">
          <article class="box">
            <div class="media">
              <aside class="media-left">
                <img src="/assets/images/viasat-logo.png" alt="Viasat Logo" width="80">
              </aside>
              <div class="media-content">
                <p class="title is-5 is-marginless">
                  Viasat
                </p>
                {{!-- <p class="subtitle is-marginless">$0.00</p> --}}
                <div class="content is-small">
                  Product Code: VS
                  <br>
                  Prodcut ID: 4
                  <br>
                  {{!-- <a href="user.html">Edit</a>
                    <span>.</span>
                    <a>Delete</a> --}}
                  <p></p>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="column is-12-tablet is-6-desktop is-4-widescreen">
          <article class="box">
            <div class="media">
              <aside class="media-left">
                <img src="/assets/images/directv-viasat-logo.png" alt="DirecTv & Viasat Combined Logo" width="80">
              </aside>
              <div class="media-content">
                <p class="title is-5 is-marginless">
                  DTV VS (DirectTv & Viasat)
                </p>
                {{!-- <p class="subtitle is-marginless">$0.00</p> --}}
                <div class="content is-small">
                  Product Code: DV
                  <br>
                  Product ID: 5
                  <br>
                  {{!-- <a href="user.html">Edit</a>
                    <span>.</span>
                    <a>Delete</a> --}}
                  <p></p>
                </div>
              </div>
            </div>
          </article>
        </div>

        {{!-- <nav class="pagination">
          <a class="pagination-previous">Previous</a>
          <a class="pagination-next">Next</a>
          <ul class="pagination-list">
            <li><a class="pagination-link">1</a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link">45</a></li>
            <li><a class="pagination-link is-current">46</a></li>
            <li><a class="pagination-link">47 </a></li>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            <li><a class="pagination-link">86</a></li>
          </ul>
        </nav> --}}
      </div>
    </div>
</section>