<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <nav class="menu">
                <p class="menu-label">Menu</p>
                <ul class="menu-list">
                    <li>
                        <a href="index">
                            <span class="icon">
                                <i class="fa fa-tachometer"></i>
                            </span>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="inventory">
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a class="is-active" href="customers">
                            <span class="icon">
                                <i class="fa fa-address-book"></i>
                            </span>
                            Customers
                        </a>
                    </li>
                    <li>
                        <a href="techs">
                            <span class="icon">
                                <i class="fas fa-hard-hat"></i>
                            </span>
                            Technicians
                        </a>
                    </li>
                    <li>
                        <a href="orders">
                            <span class="icon">
                                <i class="fas fa-clipboard-list"></i>
                            </span>
                            Orders
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <section class="hero  ">
            <div class="hero-body">
                <div class="container">
                    <div class="columns ">
                        <div class="column is-10-tablet is-6-desktop is-5-widescreen">
                            <form class="box login" id="new-customer" method="POST">
                                <div class="field has-text-centered">
                                    <!-- placeholder image -->
                                    <img src='./assets/images/checkmark-logo.png' alt="taskably company logo"
                                        width="30"><span
                                        class="text has-text-weight-bold is-size-3 has-text-justified">Create New
                                        Customer</span>
                                    <h2></h2>
                                </div>

                                <div class="field">
                                    <label class="label">First Name</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" placeholder="e.g. Joseph" id="first_name"
                                            required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user-edit"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Last Name</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" placeholder="e.g. Anderson" id="last_name"
                                            required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user-edit"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="email" placeholder="e.g. josephanderson@example.com"
                                            id="email" required>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Address</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" placeholder="e.g. 123 Main St" id="address"
                                            required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">City</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" placeholder="e.g. Salt Lake City" id="city"
                                            required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">State</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" placeholder="e.g. Utah" id="state" required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Zip Code</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" placeholder="e.g. 84101" id="zip" required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Phone Number</label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="text" placeholder="e.g. 801-555-0000" id="phone"
                                            required>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-phone-office"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <button class="button is-success" type="submit">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>